<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pre-Screen Profile</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pre-screen.css" rel="stylesheet">
    
</head>

<body>
	<!-- <h1><%=name%></h1>    -->
<div class="woof-header">

	<div class="navbar navbar-inverse navbar-fixed-top bluenav" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand">
	        <img class="logo" src="/img/logo.png" alt="">
	      </a>
	    </div>
	    <div>
	    	<p class="navbar-text navbar-right navbar-title">Pre-Screen Profile</p>
	    </div>
	  </div>
	</div>

<div class="container-fluid">
		<div class="row">
			<!-- GENERAL INFO -->
			<div class="col-sm-6 question-container">
				<!-- TITLE ROW -->
				<div class="row text-center">
					<h1 class="title">General Info</h1>
				</div>
				<!-- ICON ROW -->
				<div class="row icon-row">
					<div class="col-sm-6">
						<div class="icon-box">
							<img src="/img/survey/male.png" alt="" class="img-rounded">
							<h3 class="icon-img">Companion</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="icon-box">
							<h2 class="icon-text">Yes!</h2>
							<h3 class="icon-text">I've had a pet before!</h3>
						</div>
					</div>
				</div>
				<!-- ICON ROW -->
				<div class="row icon-row">
					<div class="col-sm-6">
						<div class="icon-box">
							<h1 class="icon-time">2</h1>
							<h2 class="icon-time">minutes</h2>
							<h3 class="icon-time">max time alone</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="icon-box">
							<h1 class="icon-time">2</h1>
							<h2 class="icon-time">minutes</h2>
							<h3 class="icon-time">max time alone</h3>
						</div>
					</div>
				</div>
			</div>


			<!-- TIME COMMITMENT -->
			<div class="col-sm-6 question-container">
				<!-- TITLE ROW -->
				<div class="row text-center">
					<h1 class="title">Time Commitment</h1>
				</div>
				<!-- ICON ROW -->
				<div class="row icon-row">
					<div class="col-sm-6">
						<div class="icon-box">
							<h1 class="icon-time">2</h1>
							<h2 class="icon-time">minutes</h2>
							<h3 class="icon-time">daily walks</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="icon-box">
							<h1 class="icon-time">2</h1>
							<h2 class="icon-time">minutes</h2>
							<h3 class="icon-time">weekly grooming</h3>
						</div>
					</div>
				</div>
				<!-- ICON ROW -->
				<div class="row icon-row">
					<div class="col-sm-6">
						<div class="icon-box">
							<h1 class="icon-time">2</h1>
							<h2 class="icon-time">minutes</h2>
							<h3 class="icon-time">max time alone</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="icon-box">
							<h1 class="icon-time">2</h1>
							<h2 class="icon-time">minutes</h2>
							<h3 class="icon-time">daily training</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">


			<!-- DOG PREFERENCES -->
			<div class="col-sm-6 question-container">
				<!-- TITLE ROW -->
				<div class="row text-center">
					<h1 class="title">Dog Preferences</h1>
				</div>
				<!-- ICON ROW -->
				<div class="row icon-row">
					<div class="col-sm-6">
						<div class="icon-box">
							<img src="/img/survey/male.png" alt="" class="img-rounded">
							<h3 class="icon-img">Companion</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="icon-box">
							<h2 class="icon-text">Toy</h2>
							<h3 class="icon-text">5-15lbs</h3>
						</div>
					</div>
				</div>
			</div>

			
			<!-- BUDGET -->
			<div class="col-sm-6 question-container">
				<!-- TITLE ROW -->
				<div class="row text-center">
					<h1 class="title">Budget</h1>
				</div>
				<!-- ICON ROW -->
				<div class="row icon-row">
					<div class="col-sm-6">
						<div class="icon-box">
							<h2 class="icon-text">$150</h2>
							<h3 class="icon-text">Monthly</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="icon-box">
							<h2 class="icon-text">$1k</h2>
							<h3 class="icon-text">Purchase</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





	<div class="navbar navbar-inverse navbar-fixed-bottom bluenav" role="navigation">
	  <div class="container">
	    <div class="woof-footer">
	    	<p class="footer-text">This buyer pre-screening profile is created
	    		to help develop the initial relationship between interested buyers & breeders
	    	</p>
	    	<p class="footer-text">More info @ www.wooflabs.com</p>
	    </div>
	  </div>
	</div>


</div>
</body>

</html>
