<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pre-Screen Profile</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pre-screen.css" rel="stylesheet">
    
</head>

<body>
	<!-- <h1><%=name%></h1>    -->
<div class="header">
	<div class="navbar navbar-inverse navbar-fixed-top bluenav" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand">
	        <img class="logo" src="/img/logo.png" alt="">
	      </a>
	    </div>
	    <div>
	    	<p class="navbar-text navbar-right navbar-title">Pre-Screen Profile</p>
	    </div>
	  </div>
	</div>



	<div class="vert-center">
		<div class="woof-content">
			<div class="woof-row">
				<div class="general-info-container">
					<div class="container-title">
						<h1 class="woof-title">General Info</h1>
					</div>
					<div class="icon-container">
						<div class="icon-row">
							<div class="icon"></div>
							<div class="icon"></div>
						</div>
						<div class="icon-row">
							<div class="icon"></div>
							<div class="icon"></div>
						</div>
					</div>
				</div>
				<div class="time-commitment-container">
					<div class="container-title">
						<h1 class="woof-title">Time Commitment</h1>
					</div>
					<div class="icon-container">
						<div class="icon-row">
							<div class="icon"></div>
							<div class="icon"></div>
						</div>
						<div class="icon-row">
							<div class="icon"></div>
							<div class="icon"></div>
						</div>
					</div>
				</div>
			</div> <!-- end woof-row -->
		</div>
	</div>






	<div class="navbar navbar-inverse navbar-fixed-bottom bluenav" role="navigation">
	  <div class="container">
	    <div class="woof-footer">
	    	<p class="footer-text">This buyer pre-screening profile is created
	    		to help develop the initial relationship between interested buyers & breeders
	    	</p>
	    	<p class="footer-text">More info @ www.wooflabs.com</p>
	    </div>
	  </div>
	</div>
</div>
</body>

</html>
