<div ng-include="'/views/partials/nav-bar.html'"></div>

<div class="header">
	<div class="container vert-center">
		<div class="jumbotron jumbowoof">

			<div ng-switch="getCurrentStep()">

				<!-- When Welcome Page -->
				<div ng-switch-when="welcome">
					<div ng-include="'/views/partials/welcome-text.html'"></div>
				</div>
				
				<!-- When Email Page -->
				<div ng-switch-when="email">
					<div ng-include="'/views/partials/email-submission.html'"></div>
				</div>

				<!-- When Thank-You Page -->
				<div ng-switch-when="thanks">
					<div ng-include="'/views/partials/thank-you.html'"></div>
				</div>
				
				<!-- When Other Page -->
				<div class="ng-switch-default">
					<div ng-include="'/views/partials/question-template.html'"></div>
				</div>

			</div>
		</div>
	</div>
</div>
