@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html, body {
  height: 100%;
  width: 100%;
}

html {
  overflow: auto;
}


h1, h2{
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.95);
}

.woof-content {
  font-family: 'PT Sans', sans-serif;
  color: white;
}

.woof-row {
  background-color: green;
  height: 450px;
}

.general-info-container,
.time-commitment-container {
  display: inline-block;
  background-color: red;
  height: 450px;
  width: 410px;
}

.container-title {
  height: 40px;
  width: 100%;
  text-align: center;
}

.woof-title {
  font-size: 42px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.icon-container {
  width: 410px;
  height: 410px;
}

.icon-row {
  height: 205px;
  width: 410px;
}

.icon {
  width: 181px;
  height: 181px;
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: rgba(0, 0, 0, 0.45);
  border-width: 2px;
  border-color: white;
  border-radius: 15px;
  border-style: solid;
  display: inline-block;
}

/*Helper selectors*/
.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

/*Footer Selectors*/
.woof-footer {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75%;
  margin: 0 auto;
}

.footer-text {
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.95);
  font-size: 15px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
/*Navbar Selectors*/
p.navbar-text.navbar-right.navbar-title {
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.95);
  font-size: 35px;
  margin: 0;
  color: white;
}

.logo {
  max-width:100px;
  margin-top: -7px;
}

.bluenav {
  background-color: rgb(58, 169, 219);
  border-color: rgba(255, 255, 255, 0.5);
}


/*Basic content & structure selectors*/
.header {
  background: url(../../img/landing-page-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
  height: 100%;
  width: 100%;
  position: relative;
  display: table;
}

.vert-center {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}