/*@import url(http://fonts.googleapis.com/css?family=PT+Sans);*/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), 
  local('PTSans-Regular'), 
  url("/fonts/PTSans.woff") format('woff');
}

html, body {
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

html {
  overflow: auto;
}

.small {
  font-size: 40px !important;
}

.container-fluid {
  padding-top: 50px;
}

.question-container {
}

.icon-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-box {
  width: 181px;
  height: 181px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.55);
  border-width: 2px;
  border-color: white;
  border-radius: 15px;
  border-style: solid;
}

.img-rounded {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 5px;
  display:block;
  margin:auto;
}

.title {
  font-size: 40px;
}

/* TEXT ICONS*/
.icon-text {
  text-align: center;
}

h2.icon-text {
  font-size: 65px;
}

h3.icon-text {
  height: 76px;
  line-height: 30px;
  font-size: 25px;
}

/* TIME ICONS*/
.icon-time {
  text-align: center;
  margin-bottom: 0px;
}

h1.icon-time {
  font-size: 65px;
  /*margin-top: 15px;*/
}

h2.icon-time {
  margin-top: 15px !important;
  font-size: 30px;
}

h3.icon-time {
  margin-top: 0px;
  font-size: 18px;
}

/* IMAGE ICONS*/
.icon-img {
  text-align: center;
  margin-top: 20px;
}


/*Footer Selectors*/
.woof-footer {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  margin: 0 auto;
}

.footer-text {
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.95);
  font-size: 15px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
/*Navbar Selectors*/
p.navbar-text.navbar-right.navbar-title {
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.95);
  font-size: 35px;
  margin: 0;
  color: white;
}

.logo {
  max-width:100px;
  margin-top: -7px;
}

.bluenav {
  background-color: rgb(58, 169, 219);
  border-color: rgba(255, 255, 255, 0.5);
}

/*Basic content & structure selectors*/
.woof-header {
  background: url(../../img/landing-page-bg-90k.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
  height: 100%;
  width: 100%;
}