<h2>Congrats!</h2>
					
<h3>We are ready to send your pre-screen puppy profile. 
		Once you get it, we can move to the next step of 
		finding your new best friend.
</h3>
					
<form name="userForm" ng-submit="submit()" novalidate>
	<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
		<div class="input-group">
				<input type="email" name="email" class="form-control" ng-model="questions.email.answer">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Enter</button>
				</span>
		</div>
	</div>
</form>