<h2>Find your perfect puppy!</h2>

<h3>We are so excited that you are looking for a dog. As loving 
as dogs are, it is very important you find the right one for you.
</h3>

<h3>Finding the right dog is a very timly process. We make that
process easy by connecting you with the right breeder.
</h3>

<h3>It is our mission to ensure that the puppy you get will give
	you decades full of love and unforgettable pawsome memories.
</h3>

<br>
<div class="text-center">
	<button type="button" class="btn btn-warning larger blue blue-hover" ng-click="handleNext()">Get Started</button>
<!-- 	<button type="button" class="btn btn-default" ng-click="submit()">Submit</button>
 -->
</div>